@model IEnumerable<ListaDeFilmes.App.ViewModels.FilmeViewModel>

<table class="table table-striped table-hover">
    <thead>
        <tr class="bg-transparent">
            <th>
                @*@Html.DisplayNameFor(model => model.Imagem)*@
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>*@

            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Diretor)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Produtora)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style="width: 70px; height: 100px" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Genero.Nome)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Classificacao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>

                @*<td>
                            @Html.DisplayFor(modelItem => item.Imagem)
                    </td>*@

                <td>
                    @item.Valor.ToString("C2").Replace("$", "$ ")  @*//formato moeda pt-BR com duas casas decimais*@
                </td>

                <td id="quebra-txt">
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>


                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.Diretor.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Produtora.Nome)
                    </td>*@

                <td class="text-right">
                    <a class="btn btn-info" asp-controller="Filmes" asp-action="DetailsModal" asp-route-id="@item.Id" data-modal=""><spam title="Detalhes" class="fa fa-search"></spam> </a>
                    <a class="btn btn-warning" disable-by-claim-name="Filmes" disable-by-claim-value="Editar" asp-controller="Filmes" asp-action="Edit" asp-route-id="@item.Id">
                        <spam title="Editar" class="fa fa-pencil-alt"></spam>
                    </a>
                    <a class="btn btn-danger" disable-by-claim-name="Filmes" disable-by-claim-value="Excluir" asp-controller="Filmes" asp-action="Delete" asp-route-id="@item.Id"><spam title="Excluir" class="fa fa-trash"></spam> </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImagemUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });
    </script>
}